export WILD_CENTRAL_ENV=development
export WILD_CENTRAL_DATA=$PWD/data
export WILD_DAEMON_URL=http://localhost:5055
export WILD_DIRECTORY=$PWD/directory
export WILD_CLI_DATA=$HOME/.wildcloud

# Source activate.sh in interactive shells
if [[ $- == *i* ]]; then
    source scripts/activate.sh
fi
