# Amplifier
amplifier/
tools/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
uv.lock

# VSCode
.vscode/
*.code-workspace

# Claude AI configuration
.claude/

# Temporary ignore until we get things sorted
data/assets
data/logs


# Development working dir
.working/

__debug*
compact__
.lock
